body {
    top: 0;
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/free-vector/snowflakes-stars-red-pattern_1048-686.jpg?semt=ais_hybrid&w=740&q=80");
}
.content {
    text-align: center;
    font-family: Arial, sans-serif;
}
.header {
    background-color: aqua;
    padding-bottom: 1vh;
}
.header h1 {
    margin-top: 0;
    margin-bottom: 0; 
    padding-top: 5vh;
}
form {
    position: absolute;
    left: 40vw;
    font-size: 2vw;
}
input[type=text] {
    border-radius: 15px;
    width: fit-content;
    height: 4vh;
}
input[type=submit] {
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    border-radius: 4px;
    height: 4vh;
}
#gifts {
    left: auto;
    top: auto;
    text-align: center;
    padding: 17vh 10vw;
}
.gift-item {
    background-color: aqua;
    padding-bottom: 1vh;
    font-size: 2vw;
}
#giftForm {
    width: 99vw;
}
.formList {
    padding-top: 5vh;
    width:100vw;
    height:auto;
    min-height: 30vh;
    background-image: url("https://thumbs.dreamstime.com/b/black-white-damascus-steel-knife-material-pattern-use-background-wallpaper-186772584.jpg");
}